<p style="color: green"><%= notice %></p>

<h1>Moeda</h1>

<div id="coins">
  <% @coins.each do |coin| %>
    <p> <%= coin.description%></p>
    <p> <%= coin.acronym%></p>
    <p><%= image_tag coin.url_image, width:25 , height:25%></p>
    <%= link_to "Mostrar moeda", coin %>
    </p>
  <% end %>
</div>

<%= link_to "Nova moeda", new_coin_path %>
