<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar moeda", edit_coin_path(@coin) %> |
  <%= link_to "Voltar para moedas", coins_path %>

  <%= button_to "Excluir moeda", @coin, method: :delete %>
</div>
